:root {
  --body-background: white;
  --title: black;
  --primary: blue;
}

[data-theme="dark"] {
  --body-background: #181818;
  --title: white;
}
[data-theme="light"] {
  --body-background: white;
  --title: black;
}
